USE [master]
GO
/****** Object:  Database [Integrantes]    Script Date: 10/7/2025 14:27:37 ******/
CREATE DATABASE [Integrantes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Integrantes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Integrantes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Integrantes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Integrantes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Integrantes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Integrantes]
GO
/****** Object:  User [alumno]    Script Date: 10/7/2025 14:27:37 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Integrante]    Script Date: 10/7/2025 14:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Integrante](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[contra] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[fechaNac] [datetime] NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[rol] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Integrante] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Integrante] ON 

INSERT [dbo].[Integrante] ([id], [nombre], [contra], [email], [fechaNac], [telefono], [direccion], [rol]) VALUES (1, N'domix', N'choe_reinara', N'domix@peakmail.com', CAST(N'2009-02-01T00:00:00.000' AS DateTime), N'1149190832', N'Isla Balatro', N'iniciador')
INSERT [dbo].[Integrante] ([id], [nombre], [contra], [email], [fechaNac], [telefono], [direccion], [rol]) VALUES (4, N'Jonina', N'Johnnon', N'joninator@llimail.com', CAST(N'2002-05-15T00:00:00.000' AS DateTime), N'1149549062', N'Av. De Mi Casa padre', N'duelista')
INSERT [dbo].[Integrante] ([id], [nombre], [contra], [email], [fechaNac], [telefono], [direccion], [rol]) VALUES (7, N'jazarbe', N'arbejazzz', N'jaz@jazmail.com', CAST(N'2009-10-05T00:00:00.000' AS DateTime), N'1149308713', N'ORT (casi)', N'sentinela')
SET IDENTITY_INSERT [dbo].[Integrante] OFF
GO
USE [master]
GO
