@{
    ViewBag.Title = "Olvidé mi contraseña";
}

<div class="extra">
    <h1>Olvidé mi contraseña</h1>
    <form action='@Url.Action("CambiarContra", "Home")' method="post">
        <input type="text" name="nombre" placeholder="Nombre de usuario" autocomplete="off" required/><br>
        <input type="password" name="nuevaContra" placeholder="Nueva Contraseña" required/><br>
        <button type="submit">Cambiar contraseña</button>
    </form>
</div>